In [2]:
!pip3 install ucimlrepo

# Downloading credit_approval data URL
# from http://archive.ics.uci.edu/dataset/27/credit+approval

WARNING: Skipping /opt/homebrew/lib/python3.11/site-packages/six-1.16.0-py3.11.egg-info due to invalid metadata entry 'name'
WARNING: Skipping /opt/homebrew/lib/python3.11/site-packages/six-1.16.0-py3.11.egg-info due to invalid metadata entry 'name'
WARNING: Skipping /opt/homebrew/lib/python3.11/site-packages/packaging-23.2.dist-info due to invalid metadata entry 'name'
WARNING: Skipping /opt/homebrew/lib/python3.11/site-packages/cffi-1.16.0.dist-info due to invalid metadata entry 'name'
Collecting ucimlrepo
  Obtaining dependency information for ucimlrepo from https://files.pythonhosted.org/packages/85/8b/aab8a1c1344af158feb0b7f13d15ae184bc1e93625cea98d9c783b2e29d4/ucimlrepo-0.0.2-py3-none-any.whl.metadata
  Downloading ucimlrepo-0.0.2-py3-none-any.whl.metadata (5.3 kB)
Downloading ucimlrepo-0.0.2-py3-none-any.whl (7.0 kB)
WARNING: Skipping /opt/homebrew/lib/python3.11/site-packages/six-1.16.0-py3.11.egg-info due to invalid metadata entry 'name'
WARNING: Skipping /opt/homebrew/lib/python3.11/site-packages/packaging-23.2.dist-info due to invalid metadata entry 'name'
WARNING: Skipping /opt/homebrew/lib/python3.11/site-packages/cffi-1.16.0.dist-info due to invalid metadata entry 'name'
Installing collected packages: ucimlrepo
Successfully installed ucimlrepo-0.0.2
WARNING: Skipping /opt/homebrew/lib/python3.11/site-packages/six-1.16.0-py3.11.egg-info due to invalid metadata entry 'name'
WARNING: Skipping /opt/homebrew/lib/python3.11/site-packages/six-1.16.0-py3.11.egg-info due to invalid metadata entry 'name'
WARNING: Skipping /opt/homebrew/lib/python3.11/site-packages/packaging-23.2.dist-info due to invalid metadata entry 'name'
WARNING: Skipping /opt/homebrew/lib/python3.11/site-packages/cffi-1.16.0.dist-info due to invalid metadata entry 'name'
WARNING: Skipping /opt/homebrew/lib/python3.11/site-packages/six-1.16.0-py3.11.egg-info due to invalid metadata entry 'name'
WARNING: Skipping /opt/homebrew/lib/python3.11/site-packages/packaging-23.2.dist-info due to invalid metadata entry 'name'
WARNING: Skipping /opt/homebrew/lib/python3.11/site-packages/cffi-1.16.0.dist-info due to invalid metadata entry 'name'

In [31]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [42]:
from ucimlrepo import fetch_ucirepo 
  
credit_approval = fetch_ucirepo(id=27)  # Code provided by the source No clue what id means
  
X = credit_approval.data.features 
y = credit_approval.data.targets

In [43]:
credit_approval.data

{'ids': None,
 'features':      A15    A14 A13 A12  A11 A10 A9    A8  A7  A6 A5 A4      A3     A2 A1
 0      0  202.0   g   f    1   t  t  1.25   v   w  g  u   0.000  30.83  b
 1    560   43.0   g   f    6   t  t  3.04   h   q  g  u   4.460  58.67  a
 2    824  280.0   g   f    0   f  t  1.50   h   q  g  u   0.500  24.50  a
 3      3  100.0   g   t    5   t  t  3.75   v   w  g  u   1.540  27.83  b
 4      0  120.0   s   f    0   f  t  1.71   v   w  g  u   5.625  20.17  b
 ..   ...    ...  ..  ..  ...  .. ..   ...  ..  .. .. ..     ...    ... ..
 685    0  260.0   g   f    0   f  f  1.25   h   e  p  y  10.085  21.08  b
 686  394  200.0   g   t    2   t  f  2.00   v   c  g  u   0.750  22.67  a
 687    1  200.0   g   t    1   t  f  2.00  ff  ff  p  y  13.500  25.25  a
 688  750  280.0   g   f    0   f  f  0.04   v  aa  g  u   0.205  17.92  b
 689    0    0.0   g   t    0   f  f  8.29   h   c  g  u   3.375  35.00  b

 [690 rows x 15 columns],
 'targets':     A16
 0     +
 1     +
 2     +
 3     +
 4     +
 ..   ..
 685   -
 686   -
 687   -
 688   -
 689   -

 [690 rows x 1 columns],
 'original':     A1     A2      A3 A4 A5  A6  A7    A8 A9 A10  A11 A12 A13    A14  A15 A16
 0    b  30.83   0.000  u  g   w   v  1.25  t   t    1   f   g  202.0    0   +
 1    a  58.67   4.460  u  g   q   h  3.04  t   t    6   f   g   43.0  560   +
 2    a  24.50   0.500  u  g   q   h  1.50  t   f    0   f   g  280.0  824   +
 3    b  27.83   1.540  u  g   w   v  3.75  t   t    5   t   g  100.0    3   +
 4    b  20.17   5.625  u  g   w   v  1.71  t   f    0   f   s  120.0    0   +
 ..  ..    ...     ... .. ..  ..  ..   ... ..  ..  ...  ..  ..    ...  ...  ..
 685  b  21.08  10.085  y  p   e   h  1.25  f   f    0   f   g  260.0    0   -
 686  a  22.67   0.750  u  g   c   v  2.00  f   t    2   t   g  200.0  394   -
 687  a  25.25  13.500  y  p  ff  ff  2.00  f   t    1   t   g  200.0    1   -
 688  b  17.92   0.205  u  g  aa   v  0.04  f   f    0   f   g  280.0  750   -
 689  b  35.00   3.375  u  g   c   h  8.29  f   f    0   t   g    0.0    0   -

 [690 rows x 16 columns],
 'headers': Index(['A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8', 'A9', 'A10', 'A11',
        'A12', 'A13', 'A14', 'A15', 'A16'],
       dtype='object')}

In [44]:
credit_approval.variables

   name     role         type demographic description units missing_values
0   A16   Target  Categorical        None        None  None             no
1   A15  Feature   Continuous        None        None  None             no
2   A14  Feature   Continuous        None        None  None            yes
3   A13  Feature  Categorical        None        None  None             no
4   A12  Feature  Categorical        None        None  None             no
5   A11  Feature   Continuous        None        None  None             no
6   A10  Feature  Categorical        None        None  None             no
7    A9  Feature  Categorical        None        None  None             no
8    A8  Feature   Continuous        None        None  None             no
9    A7  Feature  Categorical        None        None  None            yes
10   A6  Feature  Categorical        None        None  None            yes
11   A5  Feature  Categorical        None        None  None            yes
12   A4  Feature  Categorical        None        None  None            yes
13   A3  Feature   Continuous        None        None  None             no
14   A2  Feature   Continuous        None        None  None            yes
15   A1  Feature  Categorical        None        None  None            yes

# FIRST LOOK

In [45]:
X

     A15    A14 A13 A12  A11 A10 A9    A8  A7  A6 A5 A4      A3     A2 A1
0      0  202.0   g   f    1   t  t  1.25   v   w  g  u   0.000  30.83  b
1    560   43.0   g   f    6   t  t  3.04   h   q  g  u   4.460  58.67  a
2    824  280.0   g   f    0   f  t  1.50   h   q  g  u   0.500  24.50  a
3      3  100.0   g   t    5   t  t  3.75   v   w  g  u   1.540  27.83  b
4      0  120.0   s   f    0   f  t  1.71   v   w  g  u   5.625  20.17  b
..   ...    ...  ..  ..  ...  .. ..   ...  ..  .. .. ..     ...    ... ..
685    0  260.0   g   f    0   f  f  1.25   h   e  p  y  10.085  21.08  b
686  394  200.0   g   t    2   t  f  2.00   v   c  g  u   0.750  22.67  a
687    1  200.0   g   t    1   t  f  2.00  ff  ff  p  y  13.500  25.25  a
688  750  280.0   g   f    0   f  f  0.04   v  aa  g  u   0.205  17.92  b
689    0    0.0   g   t    0   f  f  8.29   h   c  g  u   3.375  35.00  b

[690 rows x 15 columns]

The attributes name has been substituted by the creator of the dataset with meaningless symbols. This does not allow us to preprocess the data because of their nature. Moreover, the size is relatively small, which mean that we can be generous with the use of RAM and CPU!!!
For those reason the strategy is to apply OneHotEncoding to all categorical attributes (NaN will also be a category by itself) then spilt to train and test and later apply Standardization to the continous attributes.

In [46]:
# OneHotEncoding to all categorical attributes
encoded_X = pd.get_dummies(X, columns=['A13', 'A12','A11','A10','A9','A7','A6','A5','A4','A1'])

In [47]:
encoded_X

,A15,A14,A8,A3,A2,A13_g,A13_p,A13_s,A12_f,A12_t,...,A6_w,A6_x,A5_g,A5_gg,A5_p,A4_l,A4_u,A4_y,A1_a,A1_b
0,0,202.0,1.25,0.000,30.83,True,False,False,True,False,...,True,False,True,False,False,False,True,False,False,True
1,560,43.0,3.04,4.460,58.67,True,False,False,True,False,...,False,False,True,False,False,False,True,False,True,False
2,824,280.0,1.50,0.500,24.50,True,False,False,True,False,...,False,False,True,False,False,False,True,False,True,False
3,3,100.0,3.75,1.540,27.83,True,False,False,False,True,...,True,False,True,False,False,False,True,False,False,True
4,0,120.0,1.71,5.625,20.17,False,False,True,True,False,...,True,False,True,False,False,False,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
685,0,260.0,1.25,10.085,21.08,True,False,False,True,False,...,False,False,False,False,True,False,False,True,False,True
686,394,200.0,2.00,0.750,22.67,True,False,False,False,True,...,False,False,True,False,False,False,True,False,True,False
687,1,200.0,2.00,13.500,25.25,True,False,False,False,True,...,False,False,False,False,True,False,False,True,True,False
688,750,280.0,0.04,0.205,17.92,True,False,False,True,False,...,False,False,True,False,False,False,True,False,False,True
689,0,0.0,8.29,3.375,35.00,True,False,False,False,True,...,False,False,True,False,False,False,True,False,False,True

In [48]:
y.loc[:,'A16'] = y['A16'].apply(lambda x: 1 if x=='+' else 0) # Fixing the target symbol to 1 and 0. We had no missing values. So we can do this before trainn test split

In [49]:
# Split the dataset
X_train, X_test, y_train, y_test = train_test_split(encoded_X,y) #default size = 25%

In [50]:
X_train

,A15,A14,A8,A3,A2,A13_g,A13_p,A13_s,A12_f,A12_t,...,A6_w,A6_x,A5_g,A5_gg,A5_p,A4_l,A4_u,A4_y,A1_a,A1_b
11,200,260.0,4.335,1.835,29.92,True,False,False,True,False,...,False,False,True,False,False,False,True,False,False,True
227,0,164.0,2.460,8.460,22.50,True,False,False,True,False,...,False,True,False,False,True,False,False,True,True,False
401,140,220.0,0.290,0.375,28.92,True,False,False,True,False,...,False,False,True,False,False,False,True,False,False,True
98,0,268.0,3.000,11.000,22.50,True,False,False,False,True,...,False,False,False,False,True,False,False,True,True,False
58,0,711.0,5.750,4.500,35.17,False,False,True,False,True,...,False,True,True,False,False,False,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
364,1300,320.0,0.165,2.000,24.42,True,False,False,True,False,...,False,False,True,False,False,False,True,False,False,True
222,0,0.0,1.375,9.000,17.58,True,False,False,False,True,...,False,False,True,False,False,False,True,False,True,False
549,0,110.0,16.000,12.000,48.33,False,False,True,True,False,...,False,False,True,False,False,False,True,False,False,True
124,0,120.0,8.500,9.000,23.50,True,False,False,False,True,...,False,False,True,False,False,False,True,False,True,False
494,0,240.0,3.000,4.415,18.83,True,False,False,True,False,...,False,False,False,False,True,False,False,True,True,False

In [51]:
# Standardization
scaler = StandardScaler()
scaler.fit(X_train[['A15', 'A14', 'A8', 'A3', 'A2']])

StandardScaler()

In [52]:
X_train[['A15', 'A14', 'A8', 'A3', 'A2']]=scaler.transform(X_train[['A15', 'A14', 'A8', 'A3', 'A2']])
X_test[['A15', 'A14', 'A8', 'A3', 'A2']]=scaler.transform(X_test[['A15', 'A14', 'A8', 'A3', 'A2']])

# FINAL OUTLOOK

In [53]:
X_train

,A15,A14,A8,A3,A2,A13_g,A13_p,A13_s,A12_f,A12_t,...,A6_w,A6_x,A5_g,A5_gg,A5_p,A4_l,A4_u,A4_y,A1_a,A1_b
11,-0.184105,0.403286,0.565866,-0.592822,-0.136873,True,False,False,True,False,...,False,False,True,False,False,False,True,False,False,True
227,-0.234067,-0.117019,0.034804,0.727645,-0.751569,True,False,False,True,False,...,False,True,False,False,True,False,False,True,True,False
401,-0.199094,0.186492,-0.579812,-0.883823,-0.219716,True,False,False,True,False,...,False,False,True,False,False,False,True,False,False,True
98,-0.234067,0.446645,0.187750,1.233907,-0.751569,True,False,False,False,True,...,False,False,False,False,True,False,False,True,True,False
58,-0.234067,2.847638,0.966641,-0.061645,0.298054,False,False,True,False,True,...,False,True,True,False,False,False,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
364,0.090685,0.728477,-0.615216,-0.559934,-0.592510,True,False,False,True,False,...,False,False,True,False,False,False,True,False,False,True
222,-0.234067,-1.005875,-0.272504,0.835275,-1.159157,True,False,False,False,True,...,False,False,True,False,False,False,True,False,True,False
549,-0.234067,-0.409691,3.869781,1.433223,1.388269,False,False,True,True,False,...,False,False,True,False,False,False,True,False,False,True
124,-0.234067,-0.355493,1.745533,0.835275,-0.668726,True,False,False,False,True,...,False,False,True,False,False,False,True,False,True,False
494,-0.234067,0.294889,0.187750,-0.078587,-1.055603,True,False,False,True,False,...,False,False,False,False,True,False,False,True,True,False

In [54]:
X_test

,A15,A14,A8,A3,A2,A13_g,A13_p,A13_s,A12_f,A12_t,...,A6_w,A6_x,A5_g,A5_gg,A5_p,A4_l,A4_u,A4_y,A1_a,A1_b
324,-0.234067,-0.355493,-0.331983,-0.709421,0.173789,True,False,False,True,False,...,True,False,True,False,False,False,True,False,False,True
197,-0.036718,-1.005875,3.728165,0.561216,1.375014,True,False,False,True,False,...,True,False,True,False,False,False,True,False,False,True
632,-0.234067,-0.593966,-0.661949,-0.659592,0.594632,True,False,False,True,False,...,False,False,True,False,False,False,True,False,True,False
316,-0.183106,0.511683,-0.591141,-0.908737,-0.861750,True,False,False,True,False,...,False,False,False,False,True,False,False,True,False,True
432,-0.234067,0.923592,-0.637874,-0.651620,-0.807074,True,False,False,False,True,...,False,False,True,False,False,False,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164,2.404171,-0.892058,2.453615,2.330143,2.403098,True,False,False,False,True,...,False,False,True,False,False,False,True,False,True,False
291,-0.233817,-0.355493,-0.378716,1.034591,-1.103652,True,False,False,True,False,...,True,False,True,False,False,False,True,False,True,False
548,0.782907,0.836874,-0.449524,-0.759250,0.132367,True,False,False,False,True,...,False,True,True,False,False,False,True,False,False,True
298,-0.228821,-0.572287,-0.473599,-0.410448,-1.262711,True,False,False,True,False,...,False,False,True,False,False,False,True,False,False,True
25,-0.234067,-0.463890,-0.237100,-0.841966,-1.304133,True,False,False,True,False,...,False,False,True,False,False,False,True,False,True,False

In [55]:
y_train

    A16
11    1
227   1
401   0
98    0
58    1
..   ..
364   0
222   1
549   1
124   1
494   1

[517 rows x 1 columns]

In [56]:
y_test

    A16
324   0
197   1
632   0
316   0
432   0
..   ..
164   1
291   0
548   1
298   0
25    1

[173 rows x 1 columns]